@media screen and (max-width:800px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    body{
        background-color: rgba(0, 0, 0, 0.966);
        transition: 3s ease all;
    }
    .botao{
        flex-wrap: wrap;
        margin-top: 5px;
        width: 150px;
        height: 60px;
        text-align: center;
        font-size:0.7rem ;
        border-radius: 5px;
        padding: 3px 5px;
    }
    .botoes{
        display: flex;
    }
}
@media screen and (max-width:700px){
    nav{
        display:none;
    }
    body{
        background-color: rgba(0, 0, 0, 0.966);
        transition: 3s ease all;
    }
}
@media screen and (min-width:1000px){
    .descricao{
        width: 120%;
    }
   
}